<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:method="get" action="./" th:object="${formModel}">
        <div class="form-area">
            <!--フォームの要素の見出しを表すタグ(label)-->
            期限
            <!-- nameがControllerに渡したい情報　valueが初期表示させたい情報 -->
            <input type="date" name="start_date" th:value="${startDate}">
            ～
            <input type="date" name="end_date" th:value="${endDate}">

            <!--★ステータス-->
            <input type="text" name="status" th:value="${status}">

            <!--★タスク内容-->
            <input type="text" name="content" th:value="${content}">
            <textarea class="task-content" th:field="*{content}" size="10" maxlength="100" /></textarea>
            <!--タグで作成したフォームの中でテキスト入力欄やボタンなどの部品を作成する要素(input)-->
            <input type="submit" value="絞込">
        </div>
    </form>
</div>
</body>
</html>